<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Pratos <small class="grey-text">seu cardápio</small></h4>
        <p>
            <a [routerLink]="['new']" class="btn">
                <i class="material-icons">add_box</i> Novo prato
            </a>
        </p>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">Prato</span>
                <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
                <hr>
                <p>R$ 30,00</p>
            </div>
        </div>
    </div>
    
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">Prato</span>
                <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
                <hr>
                <p>R$ 30,00</p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">Prato</span>
                <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
                <hr>
                <p>R$ 30,00</p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">Prato</span>
                <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
                <hr>
                <p>R$ 30,00</p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">Prato</span>
                <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
                <hr>
                <p>R$ 30,00</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>