<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4><i class="material-icons">keyboard_arrow_right</i>Novo prato <small class="grey-text">insira o prato</small></h4>

        <form class="row">
            <div class="input-field col s12">
                <input id="name" type="text">
                <label for="name">Nome do prato</label>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Foto</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea"></textarea>
                <label for="description">Descrição</label>
            </div>

            <div class="input-field col s12">
                <input id="price" type="text">
                <label for="price">Valor</label>
            </div>
            
            <div class="input-field col s12">
                <input type="button" value="Salvar" class="btn">
            </div>
        </form>
    </div>
</div>